/* GENERAL EFFECTS */
body {
    font-family: arial, sans-serif;
    background-color: white;
}


/* NAV BAR EFFECTS */ 
.nav-container {
    display: flex;
    flex-direction: space-between;
    padding: 10px;
    
    position: fixed;
    width: 100%;
    left: 0px;
    top: 0px;

    border: 2px solid red; /*DELETE*/
}

.nav-container a {
    color: inherit;
    text-decoration: none;
}

.nav-child-1 {
    flex-grow: 1;
    display: flex;
    align-items: center;

    border: 2px solid blue; /*DELETE*/
}

.nav-child-2 {
    flex-grow: 1;
    padding-right: 15px;

    border: 2px solid blue; /*DELETE*/
}

.nav-bar-left {
    list-style-type: none;
    margin: 0;
    padding: 0;

    text-align: left;
}

.nav-bar-right {
    list-style-type: none;
    margin: 0;
    padding: 0;

    text-align: right;
}

.nav-container li {
    display: inline-block;
    padding: 5px;
    margin: 0 5px;
    color: #222222;
    font-size: 14px;
}

.nav-container li:hover {
    text-decoration: underline;
}


/* GRID BOX CONTAINER */
.grid-container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 2fr 1fr 1fr 1fr;
    gap: 20px;
    margin: auto;
    margin-top: 150px;
    width: 700px;
    padding: 10px;

    border: 2px solid black; /*DELETE*/
}

.grid-first-row {
    grid-column: 1 / 5;
    grid-row: 1;
}

.grid-second-row-search-icon {
    grid-column: 1;
    grid-row: 2;
    z-index: 2;
}

.grid-second-row-search-bar {
    grid-column: 1 / 5;
    grid-row: 2;
}

.grid-third-row-search-button {
    grid-column: 2 / 3;
    grid-row: 3;
}

.grid-third-row-lucky-button {
    grid-column: 3 / 4;
    grid-row: 3;
}

.grid-fourth-row-language-sentence {
    grid-column: 2 / 4;
    grid-row: 4;
}


/* FIRST ROW CONTENTS */
.google-logo {
    width: 300px;

    display: block; /* centers the image */
    margin-left: auto;
    margin-right: auto;
}


/* SECOND ROW CONTENTS */
.search-icon {
    display: block; 
    margin-left: 20px;
    margin-top: 10px;
    z-index: 1;
}

.search-bar {
    width: 80%;
    height: 40px;
    padding: 4px 64px;
    border: 1px solid #dfe1e5;
    border-radius: 32px;

    display: block; 
    margin-left: auto;
    margin-right: auto;
}

    .search-bar:hover {
        filter: drop-shadow(4px 4px 5px #ced4da);
    }

/*THIRD ROW CONTENTS */

/* first-button */ 
.search-button {
    width: 150px;
    height: 40px;
    background: #f8f9fa;

    border-radius: 4px;
    border-style: none;
    cursor: pointer;

    display: block; 
    margin-left: 20px;
}

    .search-button:hover {
        border: 2px solid darkgray;
    }  

    .search-button:visited {
        border: 2px solid #4285f4;
    } 


/* second-button */
.lucky-button {
    width: 150px;
    height: 40px;
    background: #f8f9fa;

    border-radius: 4px;
    border-style: none;
    cursor: pointer;

    display: block; 
    margin-left: 5px;
}

    .lucky-button:hover {
        border: 2px solid darkgray;
    }  

    .lucky-button:visited {
        border: 2px solid #4285f4;
    } 
